/* Estilos personalizados */

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f8f9fa;
    color: #333;
}

h2 {
    color: #5a5a5a;
    font-weight: 600;
}

p,
li {
    font-weight: 300;
    line-height: 1.6;
}

/* Estilos para la navegación */
.navbar {
    background-color: #cf76e0;
}

.navbar .navbar-brand {
    color: #fff;
    font-weight: 600;
}

.navbar .nav-link {
    color: #fff;
}

.navbar .nav-link:hover {
    color: #f8f9fa;
}

/* Estilo para las tarjetas */
.card {
    border: none;
    background-color: #e9ecef;
}

.card .card-title {
    color: #e053bd;
    font-weight: 600;
}

/* Estilo para las listas */
.list-group-item {
    background-color: #f8f9fa;
    border: none;
}

/* Estilo para los enlaces */
a {
    color: #cf69d8;
    text-decoration: none;
}

a:hover {
    color: #dd4fca;
}

/* Estilo para el footer */
footer {
    background-color: #cf8eba;
    color: #fff;
}

footer p {
    margin: 0;
}

/* Carrusel */
.carousel-item img {
    height: 500px;
    object-fit: cover;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: #f578ea;
    border-radius: 50%;
}